extra:
  social:
  - icon: fontawesome/brands/github-alt
    link: https://github.com/dmulyalin
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/DMulyalin
markdown_extensions:
- admonition
- pymdownx.details
- attr_list
- md_in_html
- pymdownx.superfences
nav:
- Overview: 
  - Overview: index.md
  - Changelog: changelog.md
- Getting Started: Getting Started.md
- API Reference: api_reference.md
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_section_style: list
          heading_level: 3
          merge_init_into_class: true
          show_object_full_path: true
          show_root_heading: true
          show_root_toc_entry: true
          show_signature_annotations: true
          docstring_style: sphinx
repo_name: dmulyalin/picle
repo_url: https://github.com/dmulyalin/picle
site_author: Denis Mulyalin
site_description: Python Interactive Command Line Shells
site_name: PICLE
site_url: https://picle.github.io/
theme:
  custom_dir: docs/overrides
  features:
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.sections
  - navigation.top
  - toc.follow
  icon:
    repo: fontawesome/brands/github-alt
  logo: images/logo_small.jpg
  name: material
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: black
    accent: black
    toggle:
      icon: material/brightness-4
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: black
    toggle:
      icon: material/brightness-7
      name: Switch to light mode
